<div class="container-fluid">
  <div class="cart">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fas fa-cart-arrow-down"></i></a>
        </li>
        
    </ul>
  </div>
  <div class="row">
     <!-- Button trigger modal -->
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-register">
        Launch demo modal
      </button>

      <!-- Modal -->
      <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Register</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form (submit)="submitRegisterForm($event,fullname.value,email.value,password.value,cfpassword.value,'#modal-register')" id="form-register">
            <div class="modal-body">
              
                <div class="container">
                  
                    <div class="form-group row">
                      <label for="inputName" class="col-sm-12 col-form-label"></label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control form-control-lg" required #fullname name="fullname" placeholder="Fullname">
                        <div class="dropdown-divider"></div>
                        <input type="email" class="form-control form-control-lg" required  #email name="email" placeholder="Email">
                        <div class="dropdown-divider"></div>
                        <input type="password" class="form-control form-control-lg" required #password  name="password" placeholder="Password">
                        <div class="dropdown-divider"></div>
                        <input type="password" class="form-control form-control-lg" required #cfpassword name="cfpassword" placeholder="Confirm password">
                        <div class="dropdown-divider"></div>
                        <div *ngIf=showRegisterMessage class={{registerMessageClass}} role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <strong>{{registerTitle}}</strong> 
                          {{registerMessage}}
                        </div>
                      </div>
                    </div>
                 
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"><i *ngIf=loading  class='fa fa-spinner fa-spin '></i> Register</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    <!-- col 2 , col cart-->
    <!-- <div class="col-md-1"> -->
      
    <!-- </div> -->
    <!-- end col-2, col cart -->
    <!-- col-8 content, content 3979 -->
    <div class="col-md-11">
        <app-home></app-home>
    </div>

   
    <!-- end col-8 content, content 3979 -->
    <div class="col-md-1">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#" title="Trang chủ"><i class="fas fa-home"></i></a>

         

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Đi chợ"><i class="fab fa-product-hunt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Kiếm tiền"><i class="fas fa-money-bill-alt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" title="Xem tử vi"><i class="fas fa-eye"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="Hướng dẫn"><i class="fab fa-glide-g"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="Đăng nhập"><i class="fas fa-sign-in-alt"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" title="Đăng ký"><i class="fas fa-sign-in-alt"></i></a>
          
          
      </li>
      </ul>
    </div>
    <!-- end content 3979 -->

  </div>
</div>